<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Python
* R
* SQL
* Scala
* Java

## Author
Jason Wu

Some of the popular languages that Data Scientists are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|:----------------:|
|Jupyter Notebooks |
|Jupyter Lab       |
|VS Code           |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This willconvert 200 minutes to hour by diving by 60
200/60

3.3333333333333335